.btn-group, .btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

.btn-group {
    z-index: 110;
    margin-top: 44%;
    width: 100%;
    justify-content: center;
}